$button-height: 40px;

.button {
  @extend %font-body;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $secondary;
  border-radius: $radius;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-height: $button-height;
  padding-left: $m-lg;
  padding-right: $m-lg;
  user-select: none;
  border: none;
  margin-right: $m;

  &:hover {
    background-color: darken($primary, 5%);
  }

  &:active {
    background-color: darken($primary, 20%);
  }

  &:disabled, &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button--secondary {
  background-color: $secondary;
  color: $primary;

  &:hover {
    background-color: darken($secondary, 5%);
  }

  &:active {
    background-color: darken($secondary, 10%);
  }
}
