// ========================
// Form
// ========================
// USAGE:
// <form class="form">
//   <div class="form__input-group">
//     <label for="name" class="form__input-label">Name</label>
//     <p class="form__input-description">Lorem ipsum dolor sit amet.</p>
//     <input type="text" id="name" class="input form__input" />
//   </div>
//   <button type="submit" class="button form__button">Submit</button>
// </form>

.form {
  margin-bottom: $m;
}

// ========================
// ELEMENTS
// ========================
.form__input-group {
  margin-bottom: $m-lg;
}

.form__input-label {
  // font-size: $font-size-h4;
  display: block;
  margin-bottom: $m-sm;
}

.form__input-description {
  margin-bottom: $m;
}

.form__input {
  display: block;
}

.form__button {
  width: 100%;
  margin-bottom: $m;

  @include media-query('tablet') {
    margin-right: $m;
    width: inherit;
  }
}
