// ========================
// Input (i.e. <input />
// ========================

.input {
  @extend %font-body;
  width: 100%;
  display: block;
  background-color: $white;
  border: 1px solid $border;
  border-radius: $radius;
  padding: $m;
  color: $text;
  width: 100%;
}

