/* ===================== */
// App
/* ===================== */
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ===================== */
// Header
/* ===================== */
.header {
  background: rgba(white, 0.4);
  font-style: italic;
  padding: $m;
}

.header__title {
  margin: 0;
  font-size: 36pt;
}

.header__subtitle {
  margin: 0;
  font-size: 16pt;
  color: rgb(150, 150, 150);
  padding-left: 50px;
}

/* ===================== */
// Canvas
/* ===================== */
.canvas__container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.canvas {
  object-fit: contain;
  image-rendering: pixelated;
}

/* ===================== */
// Framerate Counter
/* ===================== */
.framerate-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50pt;

  color: red;

  pointer-events: none;
}