{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2016"
    /* @TODO What does this "do" ? */
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    // "keepClassNames": false,
  },
  "module": {
    "type": "amd"
  }
}