.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $m;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: lightgray;
  text-decoration: none;
  color: $text;

  .title {
    font-weight: bold;
  }

  &:hover {
    background: #AAA;
  }
}