// General styles that enforce the site's brand

// Site layout, make page full-height
html, body {
    height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --safe-area-inset-top: var(--discord-safe-area-inset-top, env(safe-area-inset-top));
  --safe-area-inset-right: var(--discord-safe-area-inset-right, env(safe-area-inset-right));
  --safe-area-inset-bottom: var(--discord-safe-area-inset-bottom, env(safe-area-inset-bottom));
  --safe-area-inset-left: var(--discord-safe-area-inset-left, env(safe-area-inset-left));
}
