@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/spinner.css';

@layer base {
  #__next {
    @apply h-full flex flex-col overflow-hidden;
  }

  [data-resize-handle] {
    @apply bg-slate-300
    ;
  }
  [data-resize-handle][data-panel-group-direction="vertical"] {
    /* Horizontal resize handle */
    @apply border-y-2 border-slate-400 h-[6px]
  }
  [data-resize-handle][data-panel-group-direction="horizontal"] {
    /* Vertical resize handle */
    @apply border-x-2 border-slate-400 w-[6px]
  }
}

@layer components {
  .button {
    @apply border border-black mt-1 ml-1 mr-2 mb-2 py-1 px-2 bg-white text-black retro-shadow hover:bg-blue-300 focus:bg-blue-300
      active:bg-blue-500 flex flex-row items-center [&>svg]:mr-1
    ;
  }
  .button:disabled {
    @apply border-[#AAA] text-[#AAA] hover:bg-white focus:bg-white active:bg-white cursor-not-allowed
  }

  .icon {
    display: inline;
    width: 24px;
  }

  /* Bloody react-color picker has all these hard-coded inline styles for some reason */
  .color-picker .w-color-editable-input {
    --editable-input-label-color: black !important;
    --editable-input-color: black !important;
  }
  .color-picker .w-color-editable-input input {
    padding: 5px !important;
  }
  .color-picker .w-color-swatch > div:focus {
    outline: 1px solid fuchsia !important;
  }
}

@layer utilities {
  .text-h1 { @apply text-5xl; }
  .text-h2 { @apply text-3xl; }
  .text-h3 { @apply text-xl; }

  .text-retro-shadow {
    text-shadow:
      1px 1px black,
      2px 2px black,
      3px 3px black,
      4px 4px black;
  }

  .retro-shadow {
    box-shadow:
      1px 1px 0 black,
      2px 2px 0 black,
      3px 3px 0 black,
      4px 4px 0 black;
  }
  .retro-shadow:disabled {
    box-shadow:
      1px 1px 0 #AAA,
      2px 2px 0 #AAA,
      3px 3px 0 #AAA,
      4px 4px 0 #AAA;
  }
}
